<p class="post_text">
    <br>Comme vous pouvez le voir, le site internet My Waifu Collection est enfin sortie ! Elle aura demandé pas mal de travail, que ce soit au niveau design que de la programmation.
    <br>J'espère donc que vous allez pouvoir vous amuser sur cette magnifique librairie de waifu. 
</p>
    <h2>Les fonctionnalitées présentent</h2>

<p class="post_text">
    <br>Pour vous présenter rapidement les possibilitées, je vous propose un petit tour des lieux :
    <br>- Vous allez pouvoir avoir accès aux dernières nouveauté du bot et de la banque de donnée avec l'onglet <a style="color: rgb(121, 75, 148);" href="/">"Home"</a> et mes différents postes du blog ;
    <br>- Vous allez pouvoir vous reinseigner et chercher des images sur les waifus ajoutées à la banque de donnée avec notre <a style="color: rgb(121, 75, 148);" href="/list">"Liste"</a> de waifu ;
    <br>- Vous allez aussi pouvoir lier votre harem Discord avec celui du site pour pouvoir avoir plus de fonctionnalités ;
    <br>- Et pour les développeurs parmis vous, vous avez accès à l'API Python de la banque de donnée pour vous amuser à créer le prochain plus grand bot Discord de waifu !
    <br>
    <br>D'autres fonctionnalitées arrivent d'ici peux mais la création de ce site, l'ajout de waifu et la maintenance du bot me prennent beaucoup de temps... 
    <br>Bref, je vous laisse donc profiter de cet ajout au magnifique projet qu'est le My Waifu Collection !
</p>  
<p class="post_text" style="text-align: right; margin-top: 100px; font-size: 30px;">
    LucaTaMère
</p>
