<p class="post_text">
    Nouvelle mise à jour de l'API python avec l'ajout des fonctions liées au <b>point de harem</b> avec la commande "$hhangout" qui vous ajoute des points de harem vous permettant d'avoir de nouvelles waifu !
</p>
<h2>Nouvelles Waifus et Séries</h2>
<p>Sans doute l'ajout le plus intéressant avec comme nouvelles waifus : 
<br>- Saeko Busujima 
<br>- Megumin 
<br>- Darkness 
<br>- Yunyun 
<br>- Rias Gremory 
<br>- Akeno 
<br>- Koneko
<br>- Yumeko Jabami 
<br>- Kosaki Onodera 
<br>- Kirisaki Chitoge 
<br>- Tsugumi Seishiro 
<br>- Itsuki Nakano 
<br>- Miku Nakano 
<br>- Nino Nakano 
<br>- Yotsuba Nakano 
<br>- Ichika Nakano 
<br>- Ram 
<br>- Asuna 
<br>- Jibril 
<br>- Stephanie Dora
<br>- Shiro 
<br>
<br> Et quelques nouvelles séries :
<br>- Re:Zero 
<br>- Nisekoi 
<br>- Konosuba 
<br>
<br> Voilà, j'espère que cette nouvelle mise à jour va vous faire plair !
</p>

<p class="post_text" style="text-align: right; margin-top: 100px; font-size: 30px;">
    LucaTaMère
</p>


