<div id="page_content" class="home_page">
    <div id="base_container" style="position: relative;">
        <h1 style="text-align: center; font-size: 50px;">Ajoutez le bot Discord à votre Server !</h1>
        <p style="text-align: center;">Pour pouvoir profiter de nouvelles fonctionnalitées de My Waifu Collection</p>
        <a class="basic_purple_button" style="width: 170px; padding: 15px 5px 15px 10px;" target="_blank"
        href="https://discord.com/oauth2/authorize?client_id=768019436338151475&scope=bot+applications.commands">Invite-moi</a>
    </div>

    <div id="base_container" style="position: relative;">
        <h1 style="text-align: center; font-size: 50px;">Commandes utilisateur</h1>
        <table>
            <tr>
                <th>Commande</th>
                <th>Fonction</th>
            </tr>
            
            <tr>
                <td>$hrandom</td>
                <td>Renvoie à l'utilisateur une waifu aléatoire. Un coeur apparaît en dessous de la réponse du bot, cliquez dessus pour pouvoir claim la waifu contre 100 points de harem.</td>
            </tr>
          
            <tr>
                <td>$setmaster [waifu]</td>
                <td>Permet de définir un personnage comme 'maître' de ton harem. C'est le seul moyen de pouvoir définir une waifu choisie. Elle coûte 200 points de harem.</td>
            </tr>

            <tr>
                <td>$harem</td>
                <td>Permet d'afficher un message contenant toutes les informations sur votre harem</td>
            </tr>

            <tr>
                <td>$hremove [waifu]</td>
                <td>Permet de retirer une waifu de votre harem contre 100 Pointes de harem.</td>
            </tr>

            <tr>
                <td>$hhangout</td>
                <td>Permet de passer du temps avec vos waifu. Elle est disponible toutes les 15 minutes et vous fait gagner 50 points de harem.</td>
            </tr>

            <tr>
                <td>$hinfo [waifu_ou_waifu]</td>
                <td>Permet de récupérer des informations depuis la banque de donnée. Vous pouvez récupérer des données de waifu ou de série.</td>
            </tr>
        </table>
        <h1 style="text-align: center; font-size: 50px;">Commandes administrateur</h1>
        <table>
            <tr>
                <th>Commande</th>
                <th>Fonction</th>
            </tr>
            <tr>
                <td>$hautorizechannel [liste des channels]</td>
                <td>Permet de définir des channels dans lequels le bot peux parler et intéragir.</td>
            </tr>
            <tr>
                <td>$hdrop [points]</td>
                <td>Permet de lancer un drop pour récupérer des points.</td>
            </tr>
        </table>
    </div>
</div>