<div id="page_content" class="waifu_page">
    <head>
        <form>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type='text/css' href='{{ url_for('static', filename='style.css') }}' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">  
    </head>
    <div id="not_found_box">
        <h1>Page non trouvée...</h1>
        <h2>La page que vous recherchez n'est pas disponible. Vérifiez si l'adresse est correcte. <br>Le lien est peut-être mort.</h2>
    </div>
    
</div>